*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fondo{
  background-color: rgb(75, 22, 210);
  width: 70%;
  height: 100vh;
  padding: 10%;
}
.interior{
  background-color: rgb(236, 141, 8);
  width: 70%;
  height: 10vh;
  border-radius: 2px;
}
.rectangulo{
  width: 300px;
  height: 400px;
  background-color: orange;
}
